/* left column styles */
.navigation-wrapper > .left-column {
	display: grid;
	grid-template-columns: 1fr;
	
}


.navigation-wrapper > .left-column {
	display: flex;
	align-items:center;
	float: left;
    justify-content: space-between;
}


	.links-wrapper > .nav-link a {
		font-weight: 900;
		font-family: 'Ubuntu Condensed', sans-serif;
		color:white;
		/*padding-right: 550px;*/
		
	}
	
	.links-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}

	.links-wrapper > .nav-link {
		width: 70px;
		text-align: left;
	}

	.links-wrapper > .nav-link a {
		font-family: "Ubuntu Condensed", sans-serif;
		color:#ffffff;
		text-decoration: none;
		transition: 0.5s;
	}
	.navigation-wrapper > .left-column {
		display: grid;
		grid-template-columns:350px;
		width:  900px;
	}